/* MEAL CALENDAR PAGE */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 250px;
    background-color: #D0CED1; /* Light grey */
    padding: 10px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
}

.sidebar li:hover {
    background-color: #e0e0e0;
}

.calendar {
    flex-grow: 1;
    padding: 30px;
    background-color: white;
    border-left: 1px solid #ddd;
}

.calendar table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.calendar th {
    background-color: #f4f4f4;
}